@font-face {
  font-family: 'Commisioner';
  src: url(../fonts/commissioner-200.woff) format(woff),
    url(../fonts/commissioner-200.woff2) format(woff2);
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Commisioner';
  src: url(../fonts/commissioner-400.woff) format(woff),
    url(../fonts/commissioner-400.woff2) format(woff2);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Commisioner';
  src: url(../fonts/commissioner-700.woff) format(woff),
    url(../fonts/commissioner-700.woff2) format(woff2);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Commisioner';
  src: url(../fonts/commissioner-800.woff) format(woff),
    url(../fonts/commissioner-800.woff2) format(woff2);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Commisioner';
  src: url(../fonts/commissioner-900.woff) format(woff),
    url(../fonts/commissioner-900.woff2) format(woff2);
  font-style: normal;
  font-weight: 900;
}
